body {
    text-align: center;
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}

.cell {
    display: inline;
    width: 30%;
    text-align: left;
    margin: 10px;
    padding: 20px
    background: lightgoldenrodyellow;
}

img {
    width: 300px;
    display: inline-block;
}

.container{
    align-content: center;
    width: center;
    margin: auto;
    border: 2px black;
    padding: 30px
}

@media screen and (min-width: 768px) {
    .col {
        width: 49%;
        display: block;
        vertical-align: top;
        align-content: center;
        margin: 5px;
        border: 1px solid black;
        padding: 10px
    }
}

/*





@media screen and (min-width: 1024px) {
    .container {
        width: 900px;
        align-content: center;
        margin: 5px;
        border: 1px solid black;
        padding: 10px
    }
}*/
