body {
    font-family: sans-serif;
}

img {
    width: 100%;
    display: inline-block;
}

.button {
    border: none;
    color: greenyellow;
    padding: 32px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    margin: 4px ;
    cursor: pointer;
}

.blockee {
    display: block;
    border: 2px solid black;
    width: 40%;
}

.boxee {
    vertical-align: top;
    display: block;
    border: 2px solid black;
    width: 60%;
    margin: 10px;
    padding: 20px;
}

.colee {
    width: 45%;
    display: inline-block;
    border: 2px  red;
    margin: 5px;
}

.coleePic {
    width: 12%;
    display: inline-block;
    border: 2px  red;
    margin: 5px;
}

.coleePee {
    font-size: 2em;
    font-family: sans-serif;
    width: 40%;
    display: inline-block;
    border: 2px  red;
    margin: 5px;
}

/*.boxeePook {
    vertical-align: top;
    display: block;
    border: 2px  black;
    width: 60%;
    margin: 10px;
    padding: 5px;
}*/

.contee {
    vertical-align: top;
    display: block;
    border: 2px  black;
    margin: 5px;
    padding: 5px 20px;
}

@media screen and (min-width: 768px) {
    .boxee {
        display: block;
        vertical-align: top;
        align-content: center;
    }
}