body {
    background-color: #1f211e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #5b5c57;
    size: 1.5em;
}

p {
    background-color: #f5f5eb;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #5b5c57;
    size: 1.0em;
    border: 1px solid #5b5c57;
    padding: 5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #f5f5eb;
    font-weight: bold;
    /*color: #250902;*/
}

.stickery {
    background-color: #5b5c57;
    /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
    /*color: #5b5c57;*/
    size: 1.0em;
    border: 1px solid #1f211e;
    padding: 10px;
}

.whitely {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    size: 1rem;
    color: #f5f5eb;
}

.listicle {
    background-color: #f5f5eb;
}

.deets {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    size: 0.5rem;
    color: #5b5c57;
}

/*img {*/
/*    width: 100%;*/
/*    display: inline-block;*/
/*}*/

.container {
    vertical-align: top;
    border: 2px solid #1f211e;
    background-color: #b93623;
    margin: 20px auto 20px auto;
    padding: 20px;
}

.navbar {
    vertical-align: top;
    border: 2px solid #5b5c57;
    background-color: #b2b3a3;
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.navbar-dark {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
}

.bg-dark {
    background-color: #1f211e;
}

.nav-link {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    size: 1.5em;
    font-weight: normal;
}

.form-group {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #f5f5eb;
    font-weight: bold;
}

.col-sm-4 {
    width: 33%;
}

.container, .container-sm, .container-md, .container-lg {
    max-width: 900px;
}

/*.carousel-item {
    width: 100%;
    display: inline-block;
}*/

.rater {
    width: 100px;
}

.submittee {
    vertical-align: bottom;
    width 60px;
    margin: 30px 0px 10px 0px;
    padding: 10px;
}

.namee {
    size: 3rem;
    font-weight: bold;
}

.table {
    border: 0px;
}

.form-group {
    padding: 5px;
}

.butty {
    color: #5b5c57;
}

.btn-secondary {
    background-color: #b2b3a3;
    border: 1px solid #5b5c57;
    color: #5b5c57;
}

.imgary {
    border: 1px solid #1f211e;
}

.btn-danger {
    background-color: #b93623;
    border: 1px solid #1f211e;
    color: #f5f5eb;
}

.navbar-text {
    color: #f5f5eb;
}

.star-rating {
    background-color: #f5f5eb;
    border: 1px solid #000000;
    width: 200px;
    height: 30px;
    display: inline-block;
}
.star-rating div {
    height: 100%;
    background-color:    #b93623;
}