body {
    font-family: sans-serif;
    size: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Impact, sans-serif;
    color: #2f6f9f;
}

img {
    width: 100%;
    display: inline-block;
}

.container {
    vertical-align: top;
    border: 1px solid steelblue;
    margin: 20px auto 20px auto;
    padding: 20px;
}

.col-sm-4 {
    width: 33%;
}

.container, .container-sm, .container-md, .container-lg {
    max-width: 900px;
}

/*.carousel-item {
    width: 100%;
    display: inline-block;
}*/

.rater {
    width: 100px;
}

.submittee {
    vertical-align: bottom;
    width 60px;
    margin: 30px 0px 10px 0px;
    padding: 10px;
}

.namee {
    size: 3rem;
    font-weight: bold;
}